.bloc{
    background-color: rgb(164, 125, 232);
    margin-left: auto;
    margin-right: auto;
}

.blocCcompte{
margin-left: auto;
margin-right: auto;
}

.center{
    text-align: center;
}

h3,label, .file{
    color: #FFF;
}